
.font-inter {
  font-family: "Inter", sans-serif;
  
  
}



* {
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
}

#nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin :24 auto ;
    text-decoration: none;

}

.logo {
    max-width: 139px;
    padding-top:15px ;

}
#nav-menu .nav-item a{
    text-decoration: none ;
    font-style: none;
    color: black;
   padding: 32px;
}
.nav-item a:hover {
    cursor: pointer;
    background-color: #18a81d52;
    transition:  0.3s ease;
    border-radius: 15px;



}

/* Sharred Button Style */

.button{

    background-color: #30b869d2;
    color: white;
    font-size: 16px;
    padding: 13px;
    border: 0px solid;
    border-radius: 5px;
    font-weight: 600 ;

}
button:hover {
    cursor: pointer;
  background-color: #2bce85c7;
  transition:0.3s ease;

}

#banner-section{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1600px;
    height: 100%; */

  margin: 92px auto ;
   
    
   

}

.struc{
    font-size: 72px;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    padding-top: 198px;
}
.Not{
    font-size:72px ;
    text-align: center;
    color: #30b869d7;
}

/* SHarred Style P */

p {

    color: #ffffffc4;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 16px 295px;
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 184px;
}
#btn .button02{

    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 13px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 600 ;
    
}
.button02:hover {
    cursor: pointer;
  background-color: #2bce85c7;
  transition:0.3s ease;
}