
.font-inter {
  font-family: "Inter", sans-serif;
  
  
}



* {
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
}

#nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin :24 auto ;
    text-decoration: none;

}

.logo {
    max-width: 139px;
    padding-top:15px ;

}
#nav-menu .nav-item a{
    text-decoration: none ;
    font-style: none;
    color: black;
   padding: 32px;
   
}
.nav-item a:hover {
    cursor: pointer;
    background-color: #18a81d52;
    transition:  0.3s ease;
    border-radius: 15px;



}


    
  

/* Sharred Button Style */

.button{

    background-color: #30b869d2;
    color: white;
    font-size: 16px;
    padding: 13px;
    border: 0px solid;
    border-radius: 5px;
    font-weight: 600 ;

}
button:hover {
    cursor: pointer;
  background-color: #2bce85c7;
  transition:0.3s ease;

}

#banner-section{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1600px;
    height: 100%; */

  margin:  auto ;
   
    
   

}
.early{
 
     font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    padding-top: 198px;
  
    color: #30b869d2;
    border-radius: 15;
    
}


.struc{
    font-size: 72px;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    padding-top: 16px;
   
}
.Not{
    font-size:72px ;
    text-align: center;
    color: #30b869d7;
}

/* SHarred Style P */

p {

    color: #ffffffc4;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 16px ;
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 184px;
}
.play{
    width: 18px;
    padding: 20px auto ;
}


#btn .button02{

    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 600 ;
    text-align: center;
    
    
}
.button02:hover {
    cursor: pointer;
  background-color: #2bce85c7;
  transition:0.3s ease;
}

/* Main section */

.card{
 background-color: rgba(229, 231, 235, 1);    
}
#notes {
background-color: rgba(229, 231, 235, 1);
width: 100%;




}
.N {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    padding-top: 36px;
    

}

.para{
    color:#627382;
    font-size: 16px;
    padding-top: 16px;

}

.card-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 44px;
    gap: 24px;

}
.cards{
    /* border: 1px solid black; */
    width: 300px;
    height: 300px;
    background-color: white;

}
.cards h5{
    font-size: 24px;
    text-align: center;
    color: #001931;
    padding-top: 16px;
    align-items: center;
    
}


.card-p{
    color: #001931;
    text-align: center;
    padding-top: 16px;
    font-size: 16px;
    color: #627382;
}


/* .CC{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    line-height: 10px;
} */
.png{
    color: red;
    background-color: red;
    align-items: center;
    
     border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 8px;
    margin: auto 115px;
    margin-top: 50px;

}

.imgtext{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 120px auto ;
    
}
.txt{

    align-items: center;
    text-align: left;

}
.imgtext p,h2{
    text-align: left;
}

.imgtext h6{
    font-size:16px ;
    color: #30B868;
    padding-bottom: 16px;
    font-weight: 300;
}
.imgtext h2 {
    font-size: 48px;
    padding: 16px;

}

.clng{
    /* border:1px solid #001931; */
    border-radius: 12px;
    background-color:#F7F6F2 ;
    padding: 200px auto;
    margin: 0 120px;

}

.clng h2{
    font-size: 40px;
    color: #001931;
    text-align: center;
    padding-top:80px ;
}
.clng p{
    color: #627382;
    font-size: 14px;
    font-weight: 400;
}

.btn02{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.clng .extra{
 padding-bottom: 80px;
}


.foot-item{
    color: white;
    font-size: 12px;
    padding: 80px 50px;
}
.P01{
 width: 20px;
 background-color: white;
}

.Copyright {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    padding: 30px;

}
.footer{
    margin-top: 150px;
     
    background:  rgba(0, 25, 49, 1);
    max-width: 100%;
}

.ff{
     display: flex;
    justify-content: space-between;
   padding-left: 120px;
   gap: 500px;
    align-items: center;
    margin-bottom: auto;
}
.foot-item h2{
    font-size: 18px;
    margin-right: 50px;
    font-weight: 300;
    padding-right: 80px;
}